.copyright {color:blue;font-weight:bold;}


.btn-floating-container {
    right: 50px;
    top: 50px;
    position: fixed;
 }

 .btn-floating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.075);
    text-align: center;
    padding: 0px;
    font-size: 24px;
}

.banner_name{
	font-size:45px;
	color:#3d3d3d;
	font-family:GodoM;
}
.banner_text{
	font-size:17px;

}
.name{
	font-size:40px;
}




@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{
	font-family:'GodoM';
	src: url(GodoM.ttf) format('truetype');
}